<%- include("./partials/head") %> <%- include('./partials/navbar') %>

<section class="container my-5">
  <h1 class="text-center">All Camp Sights</h1>
  <div class="row justify-content-between ">
    <% for(let camp of camps) { %>
    <div class="col-sm-6 col-md-4 camp-grid d-flex justify-content-center align-items-end mx-n5 my-5"
      style="background-image: url(<%= camp.image %>)">
      <h3 class="text-white mb-3"><%= camp.title %></h3>
    </div>
    <%}%>
  </div>
</section>


<%- include("./partials/footer") %>